# Performing Amazon web scraping using pandas

In [1]:
from bs4 import BeautifulSoup
import requests
import time
import datetime

import smtplib

import pandas as pd
import csv

In [52]:
url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

header = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page_req = requests.get(url , headers= header)

page_details = BeautifulSoup(page_req.text ,'html')

page_contents = BeautifulSoup(page_details.prettify() ,'html')

product_title = page_contents.find(id ='productTitle').get_text()

total_no_people_rated = page_contents.find(id = 'acrCustomerReviewText').get_text()




# product_price = page_contents.find(class = 'productTitle')


print(product_title)
print(total_no_people_rated)

# print(product_price)

                    Funny Got Data MIS Data Systems Business Analyst T-Shirt


                     19 ratings

In [53]:
product_title =product_title.strip()
total_no_people_rated =total_no_people_rated.strip()


print(product_title)
print(total_no_people_rated)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
19 ratings

In [54]:
total_no_people_rated =total_no_people_rated.split(' ')[0]

In [55]:
print(product_title)

print(total_no_people_rated)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
19

In [51]:
page_price = page_contents.find(id ='desktop_unifiedPrice').get_text()
page_price

'\n\n\n'

In [72]:
import datetime
todays_date = datetime.date.today()

print(todays_date)

2024-08-29

In [115]:
import csv
import datetime
header = ['product_name' , 'No_of_Raters' ,'Date']
data = [product_title , total_no_people_rated , todays_date]

with open('amazonWebScrapingDataset.csv','a+',newline='' , encoding='UTF8') as f:
    adding_data = csv.writer(f)
    # adding_data.writerow(header)
    adding_data.writerow(data)

In [56]:
import pandas as pd

In [116]:
df = pd.read_csv(r'amazonWebScrapingDataset.csv')
df

                                        product_name  No_of_Raters        Date
0  Funny Got Data MIS Data Systems Business Analy...            19  2024-08-29
1  Funny Got Data MIS Data Systems Business Analy...            19  2024-08-29
2  Funny Got Data MIS Data Systems Business Analy...            19  2024-08-29
3  Funny Got Data MIS Data Systems Business Analy...            19  2024-08-29

In [63]:

todays_date = datetime.date.today()

print(todays_date)

2024-08-29

## Final Code Combined

In [133]:
from bs4 import BeautifulSoup
import requests
import time
import datetime

import smtplib

import pandas as pd
import csv


def webScraperProject():
    url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

    header = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page_req = requests.get(url , headers= header)

    page_details = BeautifulSoup(page_req.text ,'html')

    page_contents = BeautifulSoup(page_details.prettify() ,'html')

    product_title = page_contents.find(id ='productTitle').get_text()

    total_no_people_rated = page_contents.find(id = 'acrCustomerReviewText').get_text()

    product_title =product_title.strip()
    
    total_no_people_rated =total_no_people_rated.strip()

    total_no_people_rated.split(' ')[0]

    today_date = datetime.date.today()

    header = ['ProductName' , 'Total_no_of_Raters' ,'Date']

    title = [product_title , total_no_people_rated , today_date]

    #  If u are running for the first time u should use this code 
    # with open('amazonWebScrapingDataset.csv','w',newline='' , encoding='UTF8') as f:
    #     adding_data = csv.writer(f)
    #     adding_data.writerow(header)
    #     adding_data.writerow(title)

    # if u are not running for the first time then u should run the below code because 'w' means write and 'a+' means append and
    #  in the subsequent row below we will not add the header as it is already added

    with open('amazonWebScrapingDataset.csv','a+',newline='' , encoding='UTF8') as f:
        adding_data = csv.writer(f)
        # adding_data.writerow(header)
        adding_data.writerow(title)


    print('done')

#### For this code to run at the particular interval of time we need to write it like below

In [132]:
while(True):
    webScraperProject()
    time.sleep(10)

done

KeyboardInterrupt:

In [134]:
df = pd.read_csv(r"amazonWebScrapingDataset.csv")
df

,ProductName,Total_no_of_Raters,Date
0,Funny Got Data MIS Data Systems Business Analy...,19 ratings,2024-08-29